.contact {
    margin-top: 103px ;
}
.contact__title{
    color: #000;
    text-align: center;
}
.contact__content{
    margin-top: 47px;
    display: flex;
    position: relative;
}

.form {
    max-width: 494px;
    background: #FFF;  
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0 46px 93.4px 46.91px;
    position: absolute;
    z-index: 3;
    right: 0;
}

input{
    border-top: none ;
    border-left: none ;
    border-right: none ;
    color: rgba(0, 0, 0, 0.54);
    opacity: 0.5;
    margin-top: 81px;   
}

input[placeholder]{
    color: #212123;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 2.7px;
}

.form__title {
    margin-top: 0;
}
.form__main-title {
    font-size: 35px;
    margin-top: 100px;
}
.form__name-title {
    font-size: 13px;

}
.price__card-button {
    margin-top: 92px;
}
.form-text {
    margin-top: 16px;
    color: #212123;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 1.8px;
    opacity: 0.7;
}

.contact__sofa{
    position: absolute;
    z-index: 0;
    top: 306px;
}

.contact__table{
    position: absolute;
    z-index: 5;
    right: 514px;
    top: 415px;
}